$xs: 320px
$sm: 768px
$md: 960px
$lg: 1150px
@mixin respond($from)
  @media screen and (min-width: $from)
    @content

html,body
  height: 100%
html
  font-size: 18px
body
  padding: 0
  margin: 0
  font-size: 1rem
*
  font-family: 'Ubuntu',sans-serif
  box-sizing: border-box
svg
  max-width: 100%
.com
  padding: 2% 10%
  .link
    display: inline-block
    padding: 10px
    border: 1px solid #d64c1c
    background-color: #e95420
    border-radius: 5px
    margin: 10px
    color: #fff
    text-decoration: none
.dev
  padding: 2% 10%

//**************************************************
//                MENU
//**************************************************
.menu
.menu__link
.nav
  text-align: right
  position: relative
  width: 100%
  right: 0
  top: 0
  left: 0
  font-size: 0
  +respond($sm)
    height: 0
#hamburger
.hamburger
  // font-size: 1rem
  display: inline-block
  text-align: left
  z-index: 1100
  background-color: #303030
  padding: 10px
  height: 50px
  width: 100%
  transition: 0.5s
  +respond($sm)
    width: 50%
  +respond($md)
    width: 30%
  +respond($lg)
    width: 20%
.burg
  height: 6px
  display: block
  width: 100%
  border-radius: 6px
  background-color: rgb(255, 107, 0)
  &+&
    margin-top: 6px
.burger
  font-size: 1rem
  display: inline-block
  vertical-align: middle
  cursor: pointer
  width: 20%
  width: calc(100% - 40px)

.burgerHome
  font-size: 1rem
  display: inline-block
  vertical-align: middle
  text-align: right
  overflow: hidden
  width: 80%
  width: calc(100% - (100% - 40px))
  height: 30px
  svg
    cursor: pointer
    display: inline-block
    fill: #fff
    height: 30px
    width: 30px
#weeks
.weeks
  font-size: 1rem
  display: inline-block
  text-align: left
  width: 100%
  background-color: #303030
  z-index: 1000
  padding: 10px 0
  border-top: 1px solid #504e4e
  transition-duration: 0.5s
  transition-property: left
  +respond($sm)
    position: fixed
    width: 50%
    left: 50%
    top: 50px
    right: 0
    bottom: 0
  +respond($md)
    left: 70%
  +respond($lg)
    left: 80%
#week1
.week
    display: block
    padding: 5px 10px
    color: #868686
    position: relative
    transition-duration: 0.4s
    border-left: 5px solid transparent
    &+&
      margin-top: 2px
    &.active
      background-color: #fff
      border-left-color: rgb(255, 107, 0)
.collapse
  +respond($sm)
    .hamburger
      width: 70px
    .weeks
      left: 100%
    .burgerHome
      width: 0
    .burger
      width: 100%
//**************************************************
//                END MENU
//**************************************************
//**************************************************
//                SETTING
//**************************************************
#setting
.setting
  text-align: center
  +respond($sm)
    width: 60px
    position: fixed
    left: 0
    bottom: 10%
#toggleInputField
.toggleInputField
  display: inline-block
  vertical-align: middle
  width: 60px
  height: 60px
  background-color: #000
  color: #fff
  fill: #fff
  padding: 10px
  cursor: pointer
  transition-duration: 0.3s
  margin-bottom: 5px
  &:hover
    fill: rgb(170, 170, 170)
  &.hidden
    fill: rgb(100, 100, 100)
  .st1
    fill: #3F92CB
#reset
.reset
  @extend .toggleInputField
  &:hover
    svg
      transition-duration: 1.5s
      transform: rotate(360deg)
#setLang
.setLang
  line-height: 40px
  @extend .toggleInputField

//**************************************************
//                END SETTING
//**************************************************
//**************************************************
//                CONTENT
//**************************************************
#content
.content
  padding: 10px
  transition-duration: 0.5s
  margin-right: 0
  +respond($sm)
    margin-left: 60px
  +respond($md)
    margin-right: 30%
  +respond($lg)
    margin-right: 20%
.nav.collapse + .content
  +respond($sm)
    margin-right: 70px
#outputWord
.outputWord
  font-size: 2rem
  color: rgb(56, 56, 56)
  +respond($sm)
    font-size: 3rem
    margin-bottom: 1rem
#answer
.answer
  font-size: 1.6rem
  margin-bottom: 0.5rem
#inputWord
.inputWord
  display: block
  width: 70%
  margin: auto
  margin-bottom: 1rem
  padding: 5px
  border-radius: 4px
  border: 2px solid rgb(115, 115, 115)
  font-size: 1.6rem
  color: rgb(56, 56, 56)
  transition-duration: 0.1s
  outline: none
  &.hidden
    visibility: hidden
.invalid
  border: 2px solid rgb(201, 52, 31)
  box-shadow: 0px 0px 5px 2px rgb(201, 52, 31)
#defeat
.defeat
  font-size: 1.6rem
  padding: 7px 15px
  margin-bottom: 1rem
  +respond($md)
    font-size: 2rem
#further
.further
  @extend .defeat
#errors
.errors
  text-align: left
//**************************************************
//                END CONTENT
//**************************************************
//**************************************************
//                LEARN
//**************************************************
.contentLearn
  h3
    +respond($sm)
      padding-left: 15px
  ol
    margin-bottom: 70px
    li
      padding: 4px 0
      border-bottom: 1px solid rgb(242, 239, 239)
.lang
  +respond($sm)
    display: inline-block
    vertical-align: top
    padding-left: 10px
    width: 40%

.langReverse
  +respond($sm)
    display: inline-block
    vertical-align: top
    padding-left: 20px
.bracket
  // display: block
.contentTest
  text-align: center


//**************************************************
//                END LEARN
//**************************************************
