doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet")
    link(rel="stylesheet", href="./index.css")
    title Eng
  body
    nav#nav.nav.collapse
      #hamburger.hamburger
        span.burg
        span.burg
        span.burg
      #weeks.weeks
        a.week#thematic1(href="#").active Неделя 1
        a.week#thematic2(href="#") Неделя 2
        a.week#thematic3(href="#") Неделя 3
        a.week#thematic4(href="#") Неделя 4
    #content
    script(src="./Lib/jquery-3.2.1.min.js")
    script(src="./learn.js")
